{% extends 'base.html' %}
{% load static %}

{% block css %}
    {% comment %} <link rel="stylesheet" href="{% static 'styles/item.css' %}" /> {% endcomment %}
{% endblock %}

{% block content %}
    <h1>Locations</h1>

    <ol class="items">
     <form action="{% url 'stokkapp:locations' %}" method="POST">
            {% csrf_token %}
                <button>New Location</button>
                <input id="location" type="number" required name="location" placeholder="Add a new Location">

            </form>
    <h3>Here is where you can keep your stuff</h3>
    {% for location in all_locations %}
        <li class="item">
            <div class="item__description">
                {{location.name}}
            </div>

            <form action="{% url 'stokkapp:locationsedit' location.id %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
            </form>
            <form action="{% url 'stokkapp:locationsedit' location.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
            </form>
        </li>
    {% endfor %}
        </ol>
{% endblock %}