{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section id="user_item-details">
        <h1>{{ user_item.item.name }}</h1>
        <h5>{{ user_item.item.description }}</h5>

        <div>Size: {{ user_item.size }}</div>
        <div>
            <form action="{% url 'stokkapp:shopping_list_item' user_item.id %}" method="POST">
            {% csrf_token %}
                <input type="hidden" name="actual_method" value="PUT">
                <button confirm>Update Quantity</button>
                <input id="quantity" type="number" required name="quantity" value="{{user_item.quantity}}">
                Quantity: {{ user_item.quantity }}
            </form>
        </div>
        <div>Expiration Date: {{ user_item.expiration }}</div>
        <div>Category: {{ user_item.category.name }}</div>
        <div>Located in the: {{ user_item.location.name }}</div>
        <div>Purchased at: {{ user_item.store.name }}</div>
    </section>

    <form action="{% url 'stokkapp:detail' user_item.id %}" method="POST" onsubmit="return ConfirmDelete()">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>

    <form action="{% url 'stokkapp:user_item_edit_form' user_item.id %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
    {% comment %} <form action="{% url 'stokkapp:shopping_list_item' user_item.id %}" method="GET">
        {% csrf_token %}
        <button confirm>Add to list</button>
    </form> {% endcomment %}
    
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/delete.js' %}"></script>
{% endblock %}