{% extends 'base.html' %}

{% block content %}
    <section id="user_item-details">
        <h1>{{ user_item.item.name }}</h1>
        <h2>By {{ user_item.author }}</h2>

        <div>Size {{ user_item.size }}</div>
        <div>Quantity {{ user_item.quantity }}</div>
        <div>Expiration Date: {{ user_item.expiration}}</div>
        <div>Located in the {{ user_item.location.name }}</div>
        <div>Purchased at {{ user_item.store.name }}</div>
    </section>

    <form action="{% url 'stokkapp:user_item_list' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>

    <form action="{% url 'stokkapp:user_item_form' %}" method="GET">
        {% csrf_token %}
        <button>Edit</button>
    </form>
{% endblock %}