{% extends 'base.html' %}
{% load static %}

{% block content %}
    
    
        {% if user_item.id is not None %}
        <h2>Edit Item</h2>
            <form action="{% url 'stokkapp:detail' user_item.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="PUT">
            <fieldset>
                    <label for="item">Item: </label>
                    <select id="item" type="text" name="item">
                            {% for item in all_items %}
                                <option {% if item.id == user_item.item_id%}selected{% endif %} required  value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                    </select>
            </fieldset>
            <fieldset>
            <label for="size">Size: </label>
            <input id="size" type="text" required name="size" value="{{user_item.size}}">
        </fieldset>
        <fieldset>
            <label for="quantity">Quantity: </label>
            <input id="quantity" type="number" required name="quantity" value="{{user_item.quantity}}">
        </fieldset>
        <fieldset>
            <label for="expiration">Expiration Date: </label>
            <input id="expiration" type="date" required name="expiration" value="{{user_item.expiration|date:'Y-m-d'}}">
        </fieldset>
        <fieldset>
            <label for="category">Category: </label>
            <select id="category" type="text" name="category">
                {% for category in all_categories %}
                    <option {% if category.id == user_item.category_id%}selected{% endif %} required value="{{category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <label for="location">Location: </label>
            <select id="location" type="text" name="location">
                {% for location in all_locations %}
                    <option {% if location.id == user_item.location_id%}selected{% endif %} required value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <label for="store">Store: </label>
            <select id="store" type="text" name="store">
                {% for store in all_stores %}
                    <option {% if store.id == user_item.store_id%}selected{% endif %} required value="{{ store.id }}">{{ store.name }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <input type="submit" value="Submit" />
        </form>
        {% else %}    
            {% if all_items is not None  %}
            <h1>Add an Item</h1>
            <a href="{% url 'stokkapp:new_user_item_form' %}">
                <button id="add_item">Add Item</button>
            </a>
            <form class = "item_form" action="{% url 'stokkapp:user_item_list'  %}" method="post">
            {% csrf_token %}
                <fieldset>
                    <label for="item">Item: </label>
                    <select id="item" required type="text" name="item">
                            {% for item in all_items %}
                                <option  value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                    </select>
                </fieldset>
            {% else %}
                <h1>Add an Item</h1>
                <form class = "item_form" action="{% url 'stokkapp:user_item_list'  %}" method="post">
                {% csrf_token %}
                <h4>Add a new Item</h4>
                <input class = "makeItNew" type = "hidden" value=false>
                <input type="hidden" name="new_item" value="True">
                <fieldset>
                    {% comment %} <label for="name">Name: </label> {% endcomment %}
                    <input id="name" type="text" required name="name" value="{{item.name}}"placeholder="Item Name">
                </fieldset>
                <fieldset>
                    {% comment %} <label for="description">Description: </label> {% endcomment %}
                    <textarea id="description" type="text" required name="description" value="{{item.description}}" placeholder="Item Description"></textarea>
                </fieldset>
            {% endif %}
        <fieldset>
            {% comment %} <label for="size">Size: </label> {% endcomment %}
            <input id="size" type="text" required name="size" value="{{item.size}}" placeholder="Item Size">
        </fieldset>
        <fieldset>
            {% comment %} <label for="quantity">Quantity: </label> {% endcomment %}
            <input id="quantity" type="number" required name="quantity" value="{{item.quantity}}" placeholder="Item Quantity">
        </fieldset>
        <fieldset>
            <label for="expiration">Expiration Date: </label>
            <input id="expiration" type="date" required name="expiration" value="{{item.expiration}}">
        </fieldset>
        <fieldset>
            <label for="category">Category: </label>
            <select id="category" type="text" name="category">
                {% for category in all_categories %}
                    <option {%  value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <label for="location">Location: </label>
            <select id="location" type="text" name="location">
                {% for location in all_locations %}
                    <option {%  value="{{ location.id }}">{{ location.name }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <label for="store">Store: </label>
            <select id="store" type="text" name="store">
                {% for store in all_stores %}
                    <option {%  value="{{ store.id }}">{{ store.name }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <input type="submit" value="Submit" />
    </form>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/form.js' %}"></script>
{% endblock %}

