{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'item.css' %}" />
{% endblock %}

{% block content %}
    <h1>Items</h1>

    {% comment %} <dialog class="infoDialog">
        <div class="infoDialog__message"></div>
        <button class="closeDialog">Close</button>
    </dialog> {% endcomment %}

    {% comment %} <a href="{% url 'libraryapp:book_form' %}">Add Book to Inventory</a> {% endcomment %}

    <ol class="items">
    <a href="{% url 'stokkapp:user_item_form' %}">
    <button id="new_item">New Item</button>
    </a>
    {% for user_item in all_items %}
        <li class="item">
            <div class="item__description">
                {{user_item.item.name}} size {{user_item.size}}
            </div>
            <div class="item__image">
                <img src={{user_item.item.image}}>
            </div>
            <a class="item__name" href="{% url 'stokkapp:detail' user_item.id %}">
            <button id="detail--{{ user_item.id }}">Details</button>
            </a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}

{% comment %} {{% block scripts %}
    <script src="{% static 'scripts/books.js' %}"></script> 
{% endblock %}  {% endcomment %}