{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/stores.css' %}" />
{% endblock %}

{% block content %}
        <h1>Category</h1>
    <div class="card" style="width: 60%; margin: 10rem; margin-top: 5rem;">
    {% if one_category.id is not None %}
    <form action="{% url 'stokkapp:categoriesedit' one_category.id%}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="hidden" name="actual_method" value="PUT">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">Save Category</button>
            </div>
            <input type="text" id="name" name="name" class="form-control" required placeholder="" aria-label="Add a new Category" aria-describedby="button-addon1" value="{{one_category.name}}">
        </div>
    </form>
    {% else %}

        <form action="{% url 'stokkapp:categories' %}" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon1">New Category</button>
            </div>
            <input type="text" id="name" name="name" class="form-control" required placeholder="" aria-label="Add a new Category" aria-describedby="button-addon1">
        </div>
        </form>

    {% endif %}
    <ol class="items">
    <h3>Here is what kind of stuff you have</h3>
    {% for category in all_categories %}
        <li class="list-group-item" style="display:flex; flex-direction: row; align-content: space-between;">
            <div class="item__description">
                {{category.name}}
            </div>
        <div class="button-div">
            <form action="{% url 'stokkapp:categoriesedit' category.id %}" method="POST" onsubmit="return ConfirmDelete()">
            {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE" >
            <button type="button" class="btn btn-danger">Delete</button>
            </form>
            <form action="{% url 'stokkapp:categoriesedit' category.id %}" method="GET">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary">Edit</button>
            </form>
        </div>
        </li>
    {% endfor %}
        </ol>
        </div>
{% endblock %}