.items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 0%;
}

.item_container {
    margin-bottom: 10rem;
    
}

.description {
    overflow: hidden;
    /* overflow-x: hidden; */
    height: 9rem;
    width: 100%;
}

.addicon {
    position: fixed;
    bottom: 2%;
    left: 85%;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-between;
    /* width: 200px; */
    /* margin: 20px; */
}
.image_size {
    position: relative;
    text-align: center;
    /* height: 11rem; */
    width: 100%;
}
.item_list_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* . card {
    margin: 2em;
} */
.item__description {
    width: 200px;
    
}

/* .item__image {
    width: 5em;
} */