.button-div {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
    margin-left: 23rem;

}

.item__description {
    width: 15rem;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem;
    margin-top: 5rem;
}